<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/assets/images/favicon.png">
   <title>Event Details</title>
    <!-- Bootstrap Core CSS -->
    <link href="/assets/assets/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- This is for the animation CSS -->
    <link href="/assets/assets/node_modules/aos/dist/aos.css" rel="stylesheet">
    <link href="/assets/assets/node_modules/prism/prism.css" rel="stylesheet">
    <link href="/assets/assets/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" rel="stylesheet">
    <!-- This page CSS -->
    <link href="/assets/assets/node_modules/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/assets/css/portfolio/portfolio.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

   <script src="/assets/assets/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

	<style type="text/css">
		i {
			font-size: 20px!important
		}

        .form-display {
            margin: 20px auto;line-height: 45px
        }

        .font_1-2 {
            font-size: 18px
        }

        .border-bottom {
            border-bottom: 1px solid grey;
            padding-bottom: 10px
        }

	</style>
</head>

<body class="">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Event Comfirmation</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <% include partials/nav %>
        <!-- ============================================================== -->
     
      
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Static Slider 10  -->
                <!-- ============================================================== -->
                <!--<div class="banner-innerpage" style="background-image:url(/assets/assets/images/innerpage/banner-bg3.jpg)">
                    <div class="container">
                       
                        <div class="row justify-content-center ">
                            
                            <div class="col-md-6 align-self-center text-center" data-aos="fade-down" data-aos-duration="1200">
                                <h1 class="title">Building Ideas</h1>
                                <h6 class="subtitle op-8"> Get some insight on the modern practices</h6> </div>
                           
                        </div>
                    </div>
                </div>-->
                <!-- ============================================================== -->
                <!-- End Static Slider 10  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Portfolio 1  -->
                <!-- ============================================================== -->
                 <div class="spacer bg-light">
                    <div class="container">                      
                        <div class="m-t-40" style="line-height: 45px">
                        	<div>
                                Event Name: <%= evt.name %>                                
                            </div>
                            <div>
                                Event Decription: <%= evt.description %>
                            </div>
                             <div>
                                Event Date:  <%= moment(evt.date).format("MMMM Do YYYY") %>
                            </div>
                             <div>
                                Number of Participants:  <%= evt.subscriptions.length %>
                            </div>
                            <% if(evt.name === 'Premium-only Webinar' || evt.name === 'Premium-only webinar') { %>
                                <div>
                                    <a href="" class="btn btn-primary">Buy</a>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
              
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Back to top -->
            <!-- ============================================================== -->
            <a class="bt-top btn btn-circle btn-lg btn-info" href="#top"><i class="ti-arrow-up"></i></a>
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
       
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>

  
   
   
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
 
    <!-- Bootstrap popper Core JavaScript -->
    <script src="/assets/assets/node_modules/popper/dist/popper.min.js"></script>
    <script src="/assets/assets/node_modules/bootstrap/js/bootstrap.min.js"></script>

    <!-- custom js -->
    <script src="/assets/js/client.js"></script>
    <!-- This is for the animation -->
    <script src="/assets/assets/node_modules/aos/dist/aos.js"></script>
    <script src="/assets/assets/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
  
  	  <script src="/assets/js/custom.min.js"></script>
    <script src="/assets/assets/node_modules/prism/prism.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
</body>


</html>

