<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/assets/images/favicon.png">
   <title>Events - Home </title>
    <!-- Bootstrap Core CSS -->
    <link href="/assets/assets/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- This is for the animation CSS -->
    <link href="/assets/assets/node_modules/aos/dist/aos.css" rel="stylesheet">
    <link href="/assets/assets/node_modules/prism/prism.css" rel="stylesheet">
    <link href="/assets/assets/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" rel="stylesheet">
    <!-- This page CSS -->
    <link href="/assets/assets/node_modules/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/assets/css/portfolio/portfolio.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
     <script src="/assets/assets/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

	   <!-- All Jquery -->
    <!-- ============================================================== -->
  <!-- <script src="/assets/assets/node_modules/jquery/dist/jquery.min.js"></script>

  	<script src="/assets/js/angular-source.js"></script>
    
    <script src="/assets/js/client.js"></script>-->

	<style type="text/css">
		i {
			font-size: 20px!important
		}

        .form-display {
            margin: 20px auto;line-height: 45px
        }

        .pallet h4, .pallet h5, .pallet p, .pallet span {
            color: #fff
        }

        .pallet a {
            text-shadow: 1px 1px 1px #fff
        }

     
	</style>
</head>

<body class="">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">My Events Guild</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
       
        <!-- ============================================================== -->
     
      
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <% include partials/nav %>
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Static Slider 10  -->
                <!-- ============================================================== -->
                <!--<div class="banner-innerpage" style="background-image:url(/assets/assets/images/innerpage/banner-bg3.jpg)">
                    <div class="container">
                       
                        <div class="row justify-content-center ">
                            
                            <div class="col-md-6 align-self-center text-center" data-aos="fade-down" data-aos-duration="1200">
                                <h1 class="title">Building Ideas</h1>
                                <h6 class="subtitle op-8"> Get some insight on the modern practices</h6> </div>
                           
                        </div>
                    </div>
                </div>-->
                <!-- ============================================================== -->
                <!-- End Static Slider 10  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Portfolio 1  -->
                <!-- ============================================================== -->
                <div class="spacer bg-light">
                    <div class="container p-0"> 
                        <form class="col-md-5" style="position: relative;" action="/search">
                            <input type="text" name="qstr" placeholder="Search" class="form-control">
                            <input type="submit"  value="" style="visibility: hidden;">
                            <i class="fa fa-search text-muted" style="position: absolute;top: 10px;right: 25px;"></i>
                        </form> 

                        <div class="clearfix"></div>                    
                        <div class="m-t-40">
                            <% for(var i = 0; i < events.length; i++) { %>
                          		<div class="col-md-4 p-1 pallet" style="display: inline-block;">
                                    <div class="<%= (events[i].name === 'leap' || events[i].name === 'Leap') ? ('card p-2 bg-warning') : (events[i].name === 'Mission' || events[i].name === 'mission') ? ('card p-2 bg-success') : (events[i].name === 'Hackathon' || events[i].name === 'hackathon') ? ('card p-2 bg-primary') : ('card p-2 bg-secondary') %>" style="min-height: 150px;position: relative;">
                                        <h4><%= events[i].name %> </h4>
                                        <p style="font-style: italic;"><%= events[i].description %> </p>
                                        <h5><%= moment(events[i].created).format('MMMM do YYYY') %></h5>
                                        <span><%= events[i].subscriptions.length %> participants</span><br>
                                        <a href="<%= '/details?evtId=' + events[i]._id %>">View details</a>
                                        <% if(events[i].name === 'Premium-only Webinar' || events[i].name === 'Premium-only webinar') { %>
                                            <a href="" data-toggle="modal" data-target="#errorEventModal" style="position: absolute;bottom: 10px;right: 20px;" class="btn btn-sm btn-primary" onclick="getId('<%= events[i]._id %>','<%= events[i].name %>')">Subscribe</a>
                                        <% } else { %>
                                            <a href="" data-toggle="modal" data-target="#subscribeEventModal" style="position: absolute;bottom: 10px;right: 20px;" class="btn btn-sm btn-primary" onclick="getId('<%= events[i]._id %>','<%= events[i].name %>')">Subscribe</a>
                                        <% } %>                                       
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Portfolio 1  -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Back to top -->
            <!-- ============================================================== -->
            <a class="bt-top btn btn-circle btn-lg btn-info" href="#top"><i class="ti-arrow-up"></i></a>
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
       
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>


       <!-- Modal -->
    <div class="modal fade" id="subscribeEventModal" tabindex="-1" aria-labelledby="subscribeEventModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel"><b> <span id="evtName"></span></b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/user/subscriptions" method="POST">
                <div>                    
                    <input type="text" name="name" class="form-control"  placeholder="Full name" required>
                </div>
                <br>
                <div>                    
                    <input type="text" name="address"  class="form-control" placeholder="Address" required>
                </div>
                <br>
                <div>                    
                    <input type="number" name="phone" class="form-control" placeholder="Phone" required>
                </div>
                <br>
                 <div>                    
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                </div>
                <br>
                 <div>                    
                    <input type="text" name="id" id="evtId" class="form-control" placeholder="" style="visibility: hidden;">
                </div>
               
                <div>
                    <input type="submit" name="" class="btn btn-block btn-primary">
                </div>
            </form>
          </div>
         
        </div>
      </div>
    </div>

      <!-- Modal -->
    <div class="modal fade" id="errorEventModal" tabindex="-1" aria-labelledby="errorEventModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <h4 style="text-align: center;">Oops!</h4>
             <p class="text-center">Sorry, you can't apply for <span id="evtName1"></span>. This is for Premium users.<a href="" id="ref">learn more</a></p>
          </div>
          <form class="modal-footer">
          
          </form>
        </div>
      </div>
    </div>

    <script type="text/javascript">
        var inputId = document.getElementById('evtId');
        var evtName = document.getElementById('evtName');
        var evtName1 = document.getElementById('evtName1');
        var ref = document.getElementById('ref')
        function getId(id,str){
            inputId.value = id;
            evtName.innerHTML = str;
            evtName1.innerHTML = str;
            ref.href = '/details?evtId=' + id;
        }
    </script>


    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
 
    <!-- Bootstrap popper Core JavaScript -->
    <script src="/assets/assets/node_modules/popper/dist/popper.min.js"></script>
    <script src="/assets/assets/node_modules/bootstrap/js/bootstrap.min.js"></script>
    <!-- This is for the animation -->
    <script src="/assets/assets/node_modules/aos/dist/aos.js"></script>
    <script src="/assets/assets/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
  	
  	  <script src="/assets/js/custom.min.js"></script>
    <script src="/assets/assets/node_modules/prism/prism.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
</body>


</html>

